@model News
<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div>
        <h1>Ta bort nyhter</h1>
        <form asp-action="NewsDelete">
            <h1> @Model.Titel</h1> <br />
            <br />
            <h1> @Model.Content</h1> <br />
            <br />
                 
            <button type="submit">Ta bort</button>
        </form>
	</div>
</body>
</html>
