@{
    Layout = "~/Views/Shared/Layout.cshtml";
}



<div class="hero-zero">
    <div class="hero-content">
        <img src="/Bilder/hhh13-tEMU4lzAL0w-unsplash.jpg" alt="cat som är ledssen">
        <h1>Sidan är inte klar än </h1>

    </div>
</div>
